<div class="form-outline mb-3 w-25">
  <input type="text" id="Name" class="form-control" placeholder="Move Name" required=""/>
  <label class="form-label" for="Name"><strong>Name</strong></label>
  <div class="form-helper"><em> "Triangle Choke, Double Leg, Scissor Sweep, etc" </em></div><br>
  <input type="text" id="Position" class="form-control" placeholder="Postion Name" required=""/>
  <label class="form-label" for="Position"><strong>Position</strong></label>
  <div class="form-helper"><em> "Closed Guard, De La Riva, Full Mount, etc" </em></div><br>
  <input type="text" id="Type" class="form-control" placeholder="Type Name" required=""/>
  <label class="form-label" for="Type"><strong>Type</strong></label>
  <div class="form-helper"><em> "Guard, Sweep, Takedown, etc" </em></div>
<br>
  <button type="button" class="btn btn-warning">Add Move</button>
</div>
