<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BJJ Coach</a>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY3_OpbnYbl1v4e9SD4H_ka0Uh1R25zYkEog&usqp=CAU" alt="" width="50" height="50">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home"  (click)="onSelectPage('Home')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="competitor" (click)="onSelectPage('Competitor')">Competitor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-move" (click)="onSelectPage('Add-Move')" >Add Move </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="professor" (click)="onSelectPage('Professor')">Professor</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
